{% extends "base.html" %}

{% block meta %}
<meta name="description" content="get website favicon">
{% endblock %}

{% block content %}
<div class="row-fluid" id="font-merge">
	<div class="span2">&nbsp;</div>
	<div class="span8">
		<div class="page-header">
			<h1>Want to get website favicon ?</h1>
		</div>
		
		{% for k, v in form.errors.items %}
			<div class="alert fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>({{ k }})</strong>
				{{ v.as_text }}
			</div>
		{% endfor %}
		
		<form class="well form-search centered-text" action="{% url favicon_getter %}" method="get">
			<label>
				<i class="icon-eye-open icon-24px"></i>
				 <input type="text" name="url" value="{{ form.url.value|default:"" }}" placeholder="http://"/>
            	<button type="submit" class="btn btn-primary">Get</button>
           	</label>
		</form>
		
		{% if links %}
		<div class="well centered-text">
			{% for l in links %}
				<img class="image-link" src="{{ l }}"/>
			{% endfor %}
		</div>
		{% endif %}
		
		
	</div>
	<div class="span2">&nbsp;</div>
</div>
{% endblock %}
