{% extends "base.html" %}

{% block meta %}
<meta name="description" content="merge fonts online, truetype fonts">
{% endblock %}

{% block content %}
<div class="row-fluid" id="font-merge">
	<div class="span2">&nbsp;</div>
	<div class="span8">
		<div class="page-header">
			<h1>Want to merge fonts ?</h1>
		</div>
		
		{% for k, v in form.errors.items %}
			<div class="alert fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>({{ k }})</strong>
				{{ v.as_text }}
			</div>
		{% endfor %}


		<form class="form-horizontal" action="{% url font_merger %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<div class="control-group {{ form.font1.errors|yesno:"error," }}">
					<label class="control-label" for="id_font1">Font a</label>
					<div class="controls">
						{{ form.font1 }}
						{% if form.font1.errors %}
							<span class="help-inline">{{ form.font1.errors.as_text }}</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group {{ form.font2.errors|yesno:"error," }}">
					<label class="control-label" for="id_font2">Font b</label>
					<div class="controls">
						{{ form.font2 }}
						{% if form.font2.errors %}
							<span class="help-inline">{{ form.font2.errors.as_text }}</span>
						{% endif %}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						<i class="icon-cogs"></i> Merge
					</button>
				</div>
			</fieldset>
		</form>
		
	</div>
	<div class="span2">&nbsp;</div>
</div>
{% endblock %}
