<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">
				<i class="icon-briefcase"></i>
				Utilities
			</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<a href="{% url troll_face %}">Troll a Face</a>
					</li>
					<li>
						<a href="{% url image_api %}">Image Api</a>
					</li>
					<li>
						<a href="{% url font_merger %}">Font Merger</a>
					</li>
					<li>
						<a href="{% url font_converter %}">Font Converter</a>
					</li>
					<li>
						<a href="{% url favicon_getter %}">Get favicon</a>
					</li>
				</ul>
			</div><!-- /.nav-collapse -->
		</div>
	</div><!-- /navbar-inner -->
</div>

<!-- TODO <li class="active"> -->