.container-center{
	text-align: center;
}

#font-merge div.btn-container-center{
	margin-top: 20px;
	text-align: center;
}

.centered-text {
    text-align: center;
}    

.icon-24px{
	font-size: 24px;
	vertical-align: middle;
}

.image-preview{
	max-height: 300px;
	margin-bottom: 20px;
}

.image-link{
	cursor: pointer;
}

div.share-block{
	display: inline-block;
	float: left;
}


ul.meme-list{
	list-style: none;
}

ul.meme-list li{
	margin-top: 10px;
}

ul.meme-list img{
	max-width: 80px;
	cursor: pointer;
}
